# Ignore python cache
__pycache__/

# virtualenv
env/
venv/
.venv

# Ignore Editor
.idea
.vscode
.spyproject

# Env files
.env

# Database
*.sqlite
*.sqlite3
*.db

# Image Storage
images/

# Testing
test_images/
test.py
